html, body {
  height: 100%;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    background: #f4f7fb;
    color: #1f2937;
    margin: 20px;
}
h1 { 
    color: #b23434;
    margin-bottom: 20px;
}

.produto h2 {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.produto{
    border: 1px solid #ccc;
    padding: 10px;
    width: 180px;
    margin: 10px;
    border-radius: 6px; 
}

.produto  img{
    width: 100%;
    border-radius : 4px;
}  